
      </div>
    </div>
    <script>
      $(document).ready(function() {
        var presentation = new Presentation();

        $(document).keydown(function(e) {
          var code = (e.keyCode ? e.keyCode : e.which);
          presentation.KeyDown(code);
        });

        sh_highlightDocument();
      });
    </script>
  </body>
</html>
