<!doctype html><html>
  <head>
    <title>TMPL_TITLE</title>
    <link rel="stylesheet" type="text/css" href="styles.css" />

    <script type="text/javascript" src="jquery.min.js"></script>
    <script type="text/javascript" src="jquery.class.animation.min.js"></script>

    <link rel="stylesheet" type="text/css" href="shjs/sh_style.css" />
    <script type="text/javascript" src="shjs/sh_main.js"></script>
    <script type="text/javascript" src="shjs/sh_perl.js"></script>

    <script type="text/javascript" src="presentation.js"></script>
  </head>
  <body>
    <div id="presentation">
      <div id="slides">

